@import url("https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps|Condiment");

body {
  margin: 0;
  font-family: "Condiment", cursive;
  background-color: #FAACA8;
background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}





.container {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 550px;
  height: 580px;
  padding-right: 20px;
  padding-left: 20px;
  background: rgb(210 177 214 / 70%);

  transform: translateX(-50%) translateY(-50%);

  z-index: 1;
  font-family: "Bilbo Swash Caps", cursive;
}

#name-canvas {
  perspective: 1000px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.mover {
  position: absolute;
  z-index: -1;
}

img {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 800px;
  width: 900px;
  z-index: 2;
  position: absolute;
}

.title {
  padding-top: 30px;
  font-weight: bold;
  font-size: 40px;
  z-index: 2;
  color: rgb(221 71 112 / 68%);
}

.wish {
  font-weight: bold;
  font-size: 30px;
  text-align: justify;
  color: rgb(221 71 112 / 68%);
  margin: 0;
}

.name {
  padding: 10px 20px; /* Espaciado interno del botón */
  background-color: rgb(210, 177, 214, 0.7); /* Color de fondo */
  color: #063f5b; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambio de cursor al pasar sobre el botón */
  transition: background-color 0.3s; /* Transición suave para el cambio de color de fondo */
  font-family: inherit; /* Heredar el tipo de letra del body */
  font-size: 30px; /* Tamaño de la fuente */
}

.name:hover {
  background-color: rgb(210, 177, 214, 0.9); /* Cambio de color de fondo al pasar sobre el botón */
}


@media screen and (max-width: 600px) {
  img {
    width: 400px;
    height: 570px;
  }
  .title {
    padding-top: 10px;
    font-size: 20px;
    color: rgb(221 71 112 / 68%);
  }

  .wish {
    padding-top: 18px;
    font-size: 15px;
    text-align: center;
    color: rgb(221 71 112 / 68%);
  }

  .name {
    font-size: 15px;
    padding-right: 20px;
  }
  .container {
    width: 220px;
    height: 320px;
    padding: 15px;
    background: rgb(210 177 214 / 70%);
  }
}
